<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Improvement - Target</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Improvement - Target</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9dc04f606c414bfd89b0a9318f53b20a.png" alt="Improvement - Target" usemap="#id-9dc04f606c414bfd89b0a9318f53b20amap"/>
			   <map name="id-9dc04f606c414bfd89b0a9318f53b20amap">
				  		<area shape="rect" coords="526,10,694,106" href="../elements/id-4682d9a92c4c416f9497d8778d1636eb.html"  target="element">
				  				<area shape="rect" coords="70,400,131,461" href="../elements/id-37489ef1c2994b0690ee573e44d9f253.html"  target="element">
				  				<area shape="rect" coords="10,394,71,467" href="../elements/id-1ede89e694e549c7afe86ac47a226d13.html"  target="element">
				  						<area shape="rect" coords="394,298,443,359" href="../elements/id-1c3c59ab8c604198b7988b4961947d71.html"  target="element">
				  						<area shape="rect" coords="322,286,430,310" href="../elements/id-80f68b0173404d36ac1eb24e52e98f33.html"  target="element">

				  				<area shape="rect" coords="298,250,454,358" href="../elements/id-a30d2693b9f348fd89b428017db9834a.html"  target="element">
				  								<area shape="rect" coords="550,634,671,659" href="../elements/id-dea44512fc7a4e91906dcc7e5aa85baf.html"  target="element">

				  						<area shape="rect" coords="538,562,683,683" href="../elements/id-10be6150df2f4900bb0d48384cabb7f7.html"  target="element">

				  				<area shape="rect" coords="442,442,778,762" href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html"  target="element">
				  						<area shape="rect" coords="202,622,323,719" href="../elements/id-3e98e5f91d3948d0aa88fe1c572ed8d5.html"  target="element">
				  						<area shape="rect" coords="46,622,167,719" href="../elements/id-8b1f71946636481197ecf014f5396bd6.html"  target="element">
				  						<area shape="rect" coords="202,478,323,575" href="../elements/id-93c14cb48371409189820775628a3455.html"  target="element">
				  						<area shape="rect" coords="46,478,167,575" href="../elements/id-7d93dd88813340c98c4fd3b952d17592.html"  target="element">

				  				<area shape="rect" coords="34,442,359,762" href="../elements/id-557e9def3a64468eb730dfcef7305aad.html"  target="element">
				  								<area shape="rect" coords="1066,706,1187,731" href="../elements/id-d3fc77139eaa492888c5a39e1366dafe.html"  target="element">

				  						<area shape="rect" coords="1054,634,1199,755" href="../elements/id-928aa272c90746ce81942a5a2ad95eda.html"  target="element">
				  								<area shape="rect" coords="898,706,1019,731" href="../elements/id-30a350d5ce464c1da7122f10147a2b83.html"  target="element">

				  						<area shape="rect" coords="886,634,1031,755" href="../elements/id-545ff5bf3301450ebca37e39e59383cd.html"  target="element">
				  								<area shape="rect" coords="1150,514,1199,575" href="../elements/id-cad406d68f7a40809c18fc306f23cf27.html"  target="element">
				  								<area shape="rect" coords="1054,550,1115,611" href="../elements/id-76ad9989992f4e50b0bf3f9f4b54fd01.html"  target="element">
				  								<area shape="rect" coords="1066,562,1187,587" href="../elements/id-ce4b015cd43440f795d7100b21136a9d.html"  target="element">

				  						<area shape="rect" coords="1054,490,1199,611" href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html"  target="element">
				  								<area shape="rect" coords="898,562,1019,587" href="../elements/id-95ed4978da44416a9cf2d9084e873619.html"  target="element">

				  						<area shape="rect" coords="886,490,1031,611" href="../elements/id-33b32b6e17734cd2b9ea3527edd2560e.html"  target="element">

				  				<area shape="rect" coords="862,442,1223,762" href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html"  target="element">
				  						<area shape="rect" coords="562,286,670,310" href="../elements/id-afe44d0ed3ff45ad84ec538fd081ae28.html"  target="element">

				  				<area shape="rect" coords="538,250,694,358" href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html"  target="element">

				  		<area shape="rect" coords="10,130,1259,803" href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
											    <td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
													    <td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-afe44d0ed3ff45ad84ec538fd081ae28.html" target="element"> nftables </a> </td>
															    <td> <a href="../elements/id-afe44d0ed3ff45ad84ec538fd081ae28.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
													    <td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-33b32b6e17734cd2b9ea3527edd2560e.html" target="element"> &#1055;&#1086;&#1095;&#1090;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
															    <td> <a href="../elements/id-33b32b6e17734cd2b9ea3527edd2560e.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-95ed4978da44416a9cf2d9084e873619.html" target="element"> Mailcow </a> </td>
																	    <td> <a href="../elements/id-95ed4978da44416a9cf2d9084e873619.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element"> &#1060;&#1072;&#1081;&#1083;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
															    <td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-ce4b015cd43440f795d7100b21136a9d.html" target="element"> Samba </a> </td>
																	    <td> <a href="../elements/id-ce4b015cd43440f795d7100b21136a9d.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-76ad9989992f4e50b0bf3f9f4b54fd01.html" target="element"> ClamAV </a> </td>
																	    <td> <a href="../elements/id-76ad9989992f4e50b0bf3f9f4b54fd01.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-cad406d68f7a40809c18fc306f23cf27.html" target="element"> Wazuh Agent </a> </td>
																	    <td> <a href="../elements/id-cad406d68f7a40809c18fc306f23cf27.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-545ff5bf3301450ebca37e39e59383cd.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Anisble </a> </td>
															    <td> <a href="../elements/id-545ff5bf3301450ebca37e39e59383cd.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-30a350d5ce464c1da7122f10147a2b83.html" target="element"> Ansible </a> </td>
																	    <td> <a href="../elements/id-30a350d5ce464c1da7122f10147a2b83.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-928aa272c90746ce81942a5a2ad95eda.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Wazuh </a> </td>
															    <td> <a href="../elements/id-928aa272c90746ce81942a5a2ad95eda.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-d3fc77139eaa492888c5a39e1366dafe.html" target="element"> Wazuh </a> </td>
																	    <td> <a href="../elements/id-d3fc77139eaa492888c5a39e1366dafe.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
													    <td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7d93dd88813340c98c4fd3b952d17592.html" target="element"> Desktop - &#1055;&#1077;&#1090;&#1088;&#1086;&#1074;&#1080;&#1095; </a> </td>
															    <td> <a href="../elements/id-7d93dd88813340c98c4fd3b952d17592.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-93c14cb48371409189820775628a3455.html" target="element"> Desktop - &#1040;&#1085;&#1085;&#1072; &#1052;&#1080;&#1093;&#1072;&#1081;&#1083;&#1086;&#1074;&#1085;&#1072; </a> </td>
															    <td> <a href="../elements/id-93c14cb48371409189820775628a3455.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8b1f71946636481197ecf014f5396bd6.html" target="element"> Desktop - Boss </a> </td>
															    <td> <a href="../elements/id-8b1f71946636481197ecf014f5396bd6.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3e98e5f91d3948d0aa88fe1c572ed8d5.html" target="element"> Desktop - &#1046;&#1077;&#1085;&#1103; </a> </td>
															    <td> <a href="../elements/id-3e98e5f91d3948d0aa88fe1c572ed8d5.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html" target="element"> DMZ </a> </td>
													    <td> <a href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html" target="element" class="i18n-elementtype-Location">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-10be6150df2f4900bb0d48384cabb7f7.html" target="element"> &#1042;&#1077;&#1073;-&#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
															    <td> <a href="../elements/id-10be6150df2f4900bb0d48384cabb7f7.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-dea44512fc7a4e91906dcc7e5aa85baf.html" target="element"> Nginx </a> </td>
																	    <td> <a href="../elements/id-dea44512fc7a4e91906dcc7e5aa85baf.html" target="element" class="i18n-elementtype-SystemSoftware">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-a30d2693b9f348fd89b428017db9834a.html" target="element"> IPS </a> </td>
													    <td> <a href="../elements/id-a30d2693b9f348fd89b428017db9834a.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-80f68b0173404d36ac1eb24e52e98f33.html" target="element"> Surricata </a> </td>
															    <td> <a href="../elements/id-80f68b0173404d36ac1eb24e52e98f33.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1c3c59ab8c604198b7988b4961947d71.html" target="element"> Wazuh Agent </a> </td>
															    <td> <a href="../elements/id-1c3c59ab8c604198b7988b4961947d71.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-1ede89e694e549c7afe86ac47a226d13.html" target="element"> Wazuh Agent </a> </td>
													    <td> <a href="../elements/id-1ede89e694e549c7afe86ac47a226d13.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37489ef1c2994b0690ee573e44d9f253.html" target="element"> ClamAV </a> </td>
													    <td> <a href="../elements/id-37489ef1c2994b0690ee573e44d9f253.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4682d9a92c4c416f9497d8778d1636eb.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
											    <td> <a href="../elements/id-4682d9a92c4c416f9497d8778d1636eb.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1f993796c1044212bd7922a50e469428.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f993796c1044212bd7922a50e469428.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d82303e28e6141f48dfcc2199507abf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d82303e28e6141f48dfcc2199507abf4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4000d7d62b314e58817138b3786367ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4000d7d62b314e58817138b3786367ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb64cd20c79c456d895e2e55c0a5a09c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb64cd20c79c456d895e2e55c0a5a09c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html" target="element"> DMZ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0206ebb6cf964fd2b45e2c6949f3a06b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0206ebb6cf964fd2b45e2c6949f3a06b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-a30d2693b9f348fd89b428017db9834a.html" target="element"> IPS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63bfafca474d4f6ebffe5494b35baffd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63bfafca474d4f6ebffe5494b35baffd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-1ede89e694e549c7afe86ac47a226d13.html" target="element"> Wazuh Agent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c12cbdd7eaa7428390471954f80336eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c12cbdd7eaa7428390471954f80336eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9a032fdc075f4c33aecb47d994b46127.html" target="element"> &#1054;&#1092;&#1080;&#1089; &#1092;&#1080;&#1083;&#1080;&#1072;&#1083;&#1072; &#1076;&#1072;&#1088;&#1082;&#1089;&#1090;&#1086;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-37489ef1c2994b0690ee573e44d9f253.html" target="element"> ClamAV </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9b8a64c6660b4df19a0c7675b2044b1e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9b8a64c6660b4df19a0c7675b2044b1e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																				<td> <a href="../elements/id-4682d9a92c4c416f9497d8778d1636eb.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1088;&#1085;&#1077;&#1090; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fbc7092501d24abbbfbe17c4c0fb2498.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fbc7092501d24abbbfbe17c4c0fb2498.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																				<td> <a href="../elements/id-afe44d0ed3ff45ad84ec538fd081ae28.html" target="element"> nftables </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0c7df61fb32b4804ac1d829834eb65c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c7df61fb32b4804ac1d829834eb65c0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																				<td> <a href="../elements/id-a30d2693b9f348fd89b428017db9834a.html" target="element"> IPS </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5466fa67f6f444e0b2a595da6a503745.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5466fa67f6f444e0b2a595da6a503745.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7af441d3e2e54058af6e4437c86fe33c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7af441d3e2e54058af6e4437c86fe33c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-545ff5bf3301450ebca37e39e59383cd.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Anisble </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7a21fadb2e154fb38bfa44413481f04b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a21fadb2e154fb38bfa44413481f04b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element"> &#1060;&#1072;&#1081;&#1083;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7a21fadb2e154fb38bfa44413481f04b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a21fadb2e154fb38bfa44413481f04b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element"> &#1060;&#1072;&#1081;&#1083;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7af441d3e2e54058af6e4437c86fe33c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7af441d3e2e54058af6e4437c86fe33c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-545ff5bf3301450ebca37e39e59383cd.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Anisble </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a224f549be6c49859b67dee20b1ae86f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a224f549be6c49859b67dee20b1ae86f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-33b32b6e17734cd2b9ea3527edd2560e.html" target="element"> &#1055;&#1086;&#1095;&#1090;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d952bbeb1f94422aad0f5b047f9acd26.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d952bbeb1f94422aad0f5b047f9acd26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fcc9e20c2a8e42d2b13fad86d2371e2d.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088;&#1085;&#1099;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-928aa272c90746ce81942a5a2ad95eda.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Wazuh </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e0f870e95a3f489182cb2a10b1d40ccb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e0f870e95a3f489182cb2a10b1d40ccb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-33b32b6e17734cd2b9ea3527edd2560e.html" target="element"> &#1055;&#1086;&#1095;&#1090;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/id-95ed4978da44416a9cf2d9084e873619.html" target="element"> Mailcow </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-52082090bbfe4f7b8f76003195d586a1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-52082090bbfe4f7b8f76003195d586a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element"> &#1060;&#1072;&#1081;&#1083;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/id-ce4b015cd43440f795d7100b21136a9d.html" target="element"> Samba </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-350c4aed62c24112aec29326d4868d6d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-350c4aed62c24112aec29326d4868d6d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element"> &#1060;&#1072;&#1081;&#1083;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/id-76ad9989992f4e50b0bf3f9f4b54fd01.html" target="element"> ClamAV </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-968887e86c6147e094c091eb85740f74.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-968887e86c6147e094c091eb85740f74.html" target="element" class="i18n-elementtype-AssociationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-14e9de77a3af4902931fdb4fa34b97fa.html" target="element"> &#1060;&#1072;&#1081;&#1083;&#1086;&#1074;&#1099;&#1081; &#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/id-cad406d68f7a40809c18fc306f23cf27.html" target="element"> Wazuh Agent </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-249cd0fa2c114bc3b5dc497f22fbb159.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-249cd0fa2c114bc3b5dc497f22fbb159.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-545ff5bf3301450ebca37e39e59383cd.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Anisble </a> </td>
																						<td> <a href="../elements/id-30a350d5ce464c1da7122f10147a2b83.html" target="element"> Ansible </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-7d2ee12e5e2b497eae029efdf95e06db.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7d2ee12e5e2b497eae029efdf95e06db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-928aa272c90746ce81942a5a2ad95eda.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; Wazuh </a> </td>
																						<td> <a href="../elements/id-d3fc77139eaa492888c5a39e1366dafe.html" target="element"> Wazuh </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-6dc82a79fc1d4ad3b4e62008d8c13981.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dc82a79fc1d4ad3b4e62008d8c13981.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-3e98e5f91d3948d0aa88fe1c572ed8d5.html" target="element"> Desktop - &#1046;&#1077;&#1085;&#1103; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a63075890a1a4ad5a39ba65d33d9b8cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a63075890a1a4ad5a39ba65d33d9b8cb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-057bc6170b614d0e83e1a5dbb141fa85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-057bc6170b614d0e83e1a5dbb141fa85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-7d93dd88813340c98c4fd3b952d17592.html" target="element"> Desktop - &#1055;&#1077;&#1090;&#1088;&#1086;&#1074;&#1080;&#1095; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6dc82a79fc1d4ad3b4e62008d8c13981.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dc82a79fc1d4ad3b4e62008d8c13981.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-3e98e5f91d3948d0aa88fe1c572ed8d5.html" target="element"> Desktop - &#1046;&#1077;&#1085;&#1103; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-afffc66c72cf4dcca942518293a16beb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-afffc66c72cf4dcca942518293a16beb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-8b1f71946636481197ecf014f5396bd6.html" target="element"> Desktop - Boss </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d7b9ad1dfe7b44b3bca4a55cf48a3df0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d7b9ad1dfe7b44b3bca4a55cf48a3df0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-93c14cb48371409189820775628a3455.html" target="element"> Desktop - &#1040;&#1085;&#1085;&#1072; &#1052;&#1080;&#1093;&#1072;&#1081;&#1083;&#1086;&#1074;&#1085;&#1072; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-afffc66c72cf4dcca942518293a16beb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-afffc66c72cf4dcca942518293a16beb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-557e9def3a64468eb730dfcef7305aad.html" target="element"> &#1055;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;&#1089;&#1082;&#1080;&#1081; &#1089;&#1077;&#1075;&#1084;&#1077;&#1085;&#1090; </a> </td>
																				<td> <a href="../elements/id-8b1f71946636481197ecf014f5396bd6.html" target="element"> Desktop - Boss </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ab382cc0e6284a8d98e2315ff68aaeb1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab382cc0e6284a8d98e2315ff68aaeb1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html" target="element"> DMZ </a> </td>
																				<td> <a href="../elements/id-c9018e54d1f848368743d7a8c52d34a7.html" target="element"> &#1052;&#1077;&#1078;&#1089;&#1077;&#1090;&#1077;&#1074;&#1086;&#1081; &#1101;&#1082;&#1088;&#1072;&#1085; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0068068dd77e4dc58be7ef4da94d0c3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0068068dd77e4dc58be7ef4da94d0c3d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html" target="element"> DMZ </a> </td>
																				<td> <a href="../elements/id-10be6150df2f4900bb0d48384cabb7f7.html" target="element"> &#1042;&#1077;&#1073;-&#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0068068dd77e4dc58be7ef4da94d0c3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0068068dd77e4dc58be7ef4da94d0c3d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-baaca2b74f0d4af78b54ecff0313ca76.html" target="element"> DMZ </a> </td>
																				<td> <a href="../elements/id-10be6150df2f4900bb0d48384cabb7f7.html" target="element"> &#1042;&#1077;&#1073;-&#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-719ca735767e48ae999e507491bf7573.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-719ca735767e48ae999e507491bf7573.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-10be6150df2f4900bb0d48384cabb7f7.html" target="element"> &#1042;&#1077;&#1073;-&#1089;&#1077;&#1088;&#1074;&#1077;&#1088; </a> </td>
																						<td> <a href="../elements/id-dea44512fc7a4e91906dcc7e5aa85baf.html" target="element"> Nginx </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-356841d775eb4b96b7f8935d0e70f981.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-356841d775eb4b96b7f8935d0e70f981.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a30d2693b9f348fd89b428017db9834a.html" target="element"> IPS </a> </td>
																				<td> <a href="../elements/id-80f68b0173404d36ac1eb24e52e98f33.html" target="element"> Surricata </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7a22478d5e3144708b708f368c3b5738.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a22478d5e3144708b708f368c3b5738.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a30d2693b9f348fd89b428017db9834a.html" target="element"> IPS </a> </td>
																				<td> <a href="../elements/id-1c3c59ab8c604198b7988b4961947d71.html" target="element"> Wazuh Agent </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>